.service-container{
  width: 100%;
  height: 100%;
}
.service-image-div{
  width: 100%;
  height: 400px;
  background-image: url("../../../assets//inquirybg.webp");
  background-size: cover;
  background-position: 0 15%;
}
.service-bg{
  width: 100%;
  height: 100%;
  background-color: #0b0b1b;
   opacity: .7; 
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  gap: 20px;
}
.services-section-2{
  margin-top: 30px;
}

/* section-3 */
.section-3{
  width: 100%;
  height: 400px;
  /* background-color: aqua; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 100px;
  margin-top: 80px;
}
.ourproceess-text-div{
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ourproceess-text-div h5{
  font-size: 20px;
}
.ourproceess-text-div h2{
  font-size: 32px;
}
.ourproceess-text-div p{
  text-align: center;
  font-size: 16px;
}
.main-icons-div{
  width: 100%;
  height: 200px;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.service-icons-div{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.service-icons-div p{
font-size: 16px;
}
.service-icon{
  width: 48px;
  height: 50px;
}
.arrow-img{
  width: 141px;
  height: 22px;
}

/* section-4 */
.frequently-askquestion-div{
  width: 100%;
  height: 700px;
  /* background-color: aqua; */
  display: flex;
  padding: 0 100px;
  box-sizing: border-box;
}
.question-div{
  width: 50%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.question-div h3{
  font-size: 26px;
}
.question-div p{
  font-size: 16px;
}
.question-image-div{
  width: 50%;
  height: 100%;
  background-image: url("../../../assets//questionimg.png");
  background-size: cover;
}
.question-mtdiv{
  width: 50%;
  height: 100%;
  background-color: black;
}
.question-question-img{
  width: 50%;
  height: 100%;
}
.question-img{
 
}
@media screen and (max-width: 1000px) {

  .service-image-div{
    width: 100%;
    height: 240px;
  }
  .service-bg{
    margin-top: 30px;
    width: 100%;
    height: 240px;
  }
  /* section-3 */
  .section-3{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  .ourproceess-text-div h2{
    font-size: 25px;
  }
  .ourproceess-text-div p{
    font-size: 14px;
    /* font-weight: 800; */
  }
  .main-icons-div{
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  .arrow-img{
   display: none;
  }
  .service-icons-div{
        font-weight: 600;
  }
  /* section-4 */
  .frequently-askquestion-div{
    /* width: 100%; */
    height: auto;
    /* background-color: aqua; */
    display: flex;
    padding: 0px;
    margin-top: 30px;
  }
  .question-div{
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .question-image-div{
   display: none;
  }
  .question-div h3{
    font-size: 20px;
  }
  .question-div p{
    font-size: 15px;
    line-height: 20px;
  }
}